{% extends "base.html" %}

{% block title %}
    Hello
{% endblock %}

{% block content %}
    {% if person %}
        <h1 id="title">Hello {{ person }}!</h1>
    {% else %}
        <h1 id="title">Hello, World!</h1>
    {% endif %}


    <button id="load-users">Load users</button>
    <button id="change-title">Change title</button>
    <button id="restore-title">Restore title</button>
    <button id="show-alert">Show alert</button>
    <button id="ask-name">Ask my name</button>

    <div class="error">
        Error occured -> <strong>Click to fix</strong>
    </div>

    <h2>Login</h2>
    <form action="/login" method="POST">
        <input
            type="text"
            name="name"
            placeholder="Username"
            required
        >

        <input
            type="password"
            name="password"
            placeholder="Password"
            required
        >

        <button type="submit">
            Login
        </button>
    </form>

    <h2>Add user</h2>

    <form action="/users" method="POST">
        <input
            type="text"
            name="name"
            placeholder="Enter name"
            required
        >

        <button type="submit">
            Add user
        </button>
    </form>

    <h2>Edit user</h2>

    <form action="/users/edit" method="POST">

        <input
            type="number"
            name="id"
            placeholder="User ID"
            required
        >

        <input
            type="text"
            name="name"
            placeholder="New name"
            required
        >

        <button type="submit">
            Update user
        </button>

    </form>

    <h2>Users</h2>

    <ul id="users"></ul>
    <p id="result"></p>

{% endblock %}

{% block scriptFooter %}
    <script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}
