{% extends "base.html" %}

{% block title %}
    Hello
{% endblock %}

{% block content %}

    <h1 id="title">Users manage page</h1>

    <button id="load-users">Load users</button>
    <button id="change-title">Change title</button>
    <button id="restore-title">Restore title</button>
    <button id="show-alert">Show alert</button>
    <button id="ask-name">Ask my name</button>
    <button id="start-spam">Start spam</button>
    <button id="stop-spam">Stop spam</button>

    <div class="error">
        Error occured -> <strong>Click to fix</strong>
    </div>

    <h2>Users</h2>
    <ul id="users"></ul>
    <p id="result"></p>

{% endblock %}

{% block scriptFooter %}
    <script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}
